@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.volver {
    align-items: left;
    color: #A442DB;
   
}


body {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.home-section {
    background: url('imagenes/Vector\ 2.png');
    height: 687.84PX;
    background-size: cover;
    position: absolute;
    top: 100px;
    /* Espacio de 50px desde arriba */
}


.fas {
    margin-right: 5px;
}


header {

    min-width: 1260px;
    margin: auto;
    padding-top: 0px;
    position: sticky;

}

section {
    min-width: 1260px;
    margin: auto;
    padding-top: 0px;
}

.conte {
    position: relative;

}

.conte img {
    position: absolute;
    top: -22px;
    left: 0;
    width: 75px;
    /* Ajusta el tamaño del logo */
    height: auto;
    margin-top: 0px;
    /* Ajusta el margen superior */
    margin-left: 20px;
    /* Ajusta el margen izquierdo */
}

.conte {

    text-align: right;

}

.conte a {

    margin-top: 80px;
    top: 50%;
    align-items: flex-start;


}

.Inicio {
    color: #023047;
    text-decoration: none;
    font-weight: bolder;


}

.Inicio:hover {
    color: #F0F0F0;
    font-weight: bold;
    border: 0.5px solid #8361EA;
    background-color: #A790FF;
    border-radius: 10px;
    transition: border-color 0.5s ease;

}

.Evaluaciones {
    color: #023047;
    text-decoration: none;
    font-weight: bolder;
}

.Evaluaciones:hover {
    color: #F0F0F0;
    font-weight: bold;
    border: 0.5px solid #8361EA;
    background-color: #A790FF;
    border-radius: 10px;
    transition: border-color 0.5s ease;

}



.Salario {
    color: #023047;
    text-decoration: none;
    margin-right: 180px;
    font-weight: bolder;
}

.Salario:hover {
    color: #F0F0F0;
    font-weight: bold;
    border: 0.5px solid #8361EA;
    background-color: #A790FF;
    border-radius: 10px;
    transition: border-color 0.5s ease;

}

.Publicar {
    color: #023047;
    text-decoration: none;
    margin-right: 80px;
    font-weight: bolder;

}

.Publicar:hover {
    color: #F0F0F0;
    font-weight: bold;
    border: 0.5px solid #8361EA;
    background-color: #A790FF;
    border-radius: 10px;
    transition: border-color 0.5s ease;

}

.Ingresar {
    color: #8361EA;
    text-decoration: none;
    font-weight: bold;

}

.Ingresar:hover {
    color: #F0F0F0;
    font-weight: bold;
    border: 0.5px solid #8361EA;
    background-color: #A790FF;
    border-radius: 10px;
    transition: border-color 0.5s ease;
}

.CV {
    color: #F0F0F0;
    background-color: #A790FF;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
}

.CV:hover {
    color: #F0F0F0;
    font-weight: bold;
    border: 0.5px solid #8361EA;
    background-color: #A442DB;
    border-radius: 10px;
    transition: border-color 0.5s ease;
}


nav {
    margin-top: 38px;
    display: block;
    justify-content: center;
    width: 99%;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

nav a {
    flex: 2;
    text-align: right;
    padding: 8px;
    align-items: center;

}

h3 {
    text-align: center;
    color: #8361EA;
    margin-top: 250px;
    font-weight: normal;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

input[type="text"] {
    padding: 10px;
    padding-right: 26em;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #A7A6FF;
    background-color: #F5F5F5;
    text-align: left;
    outline: none;

}

input[type="submit"] {
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    background-color: #F5F5F5;
    color: #8361EA;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    border: 0.5px solid #8361EA;
    background-color: #A442DB;
    color: #F0F0F0;
    font-weight: bold;


}

.container {

    color: #fff;
    /* Color de fuente blanco para contraste */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('imagenes/Crear\ cuenta.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 80%;
    /* Ajusta el ancho según sea necesario */
    margin: 0 auto;
    width: 80%;
    /* Ajusta el ancho según sea necesario */
    max-width: 400px;
    /* Establece un ancho máximo para evitar que se extienda demasiado */
    padding: 30px;
}


.login-text {
    font-size: 26px;
    color: #8361EA;
    padding: 20px;
    font-weight: bold;
    /* Agrega negrita */
    font-family: 'Roboto Slab', sans-serif;
    /* Utiliza la fuente Roboto Slab */
    text-align: left;
    /* Alinea el texto a la izquierda */
}

.login-text-dos {
    font-size: 21.76px;
    color: #023047;
    font-weight: bold;
    /* Agrega negrita */
    font-family: 'Roboto Slab', sans-serif;
    /* Utiliza la fuente Roboto Slab */
    margin-bottom: 5px;
    text-align: left;
    /* Alinea el texto a la izquierda */
}

.login-text-tres {
    font-size: 8.76px;
    color: #023047;
    margin-bottom: 20px;
    text-align: left;
    /* Alinea el texto a la izquierda */

}

.login-text-cuatro {
    font-size: 12px;
    color: #023047;
    opacity: 50%;
    margin-bottom: 3px;
}

.apple-btn,
.google-btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    /* Haz que los botones ocupen todo el ancho del contenedor */
    margin-bottom: 10px;
}

.apple-btn img,
.google-btn img {
    margin-right: 10px;
}

.custom-button {
    background-color: #B4A1FF;
    border: 1px solid #9391FF;
    color: #fff;
    /* Color de texto blanco */
    padding: 11px 119px;
    border-radius: 50px;
    /* Bordes redondeados */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.button-image {
    width: 20px;
    /* Ajusta el ancho según la imagen */
    height: 20px;
    /* Ajusta la altura según la imagen */
}

.custom-button:hover {
    background-color: #7777cc;
    /* Cambia el color al pasar el mouse */
}

.email-field {
    position: relative;
    /* Para posicionar el icono */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.email-field input {
    width: 333px;
    height: 40px;
    border: 1px solid #B4A1FF;
    border-radius: 50px;
    padding: 22px 22px;
    font-size: 16px;
    text-align: left;
    box-sizing: border-box;

}

.email-field input:focus {
    outline: none;
    border-color: #9391FF;
  
}

/* Si quieres agregar un icono de correo electrónico */
.email-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 18px;
    color: #999;
}

.login-text-cinco {
    font-size: 26px;
    color: #8361EA;
    padding: 20px;
    font-weight: bold;
    /* Agrega negrita */
    font-family: 'Roboto Slab', sans-serif;
    /* Utiliza la fuente Roboto Slab */
    text-align: left;
    /* Alinea el texto al centro */
}

.login-text-seis {
    font-size: 21.76px;
    color: #023047;
    font-weight: bold;
    /* Agrega negrita */
    font-family: 'Roboto Slab', sans-serif;
    /* Utiliza la fuente Roboto Slab */
    margin-bottom: 5px;
    text-align: left;
    /* Alinea el texto a la izquierda */
}

.login-text-siete {
    font-size: 14.76px;
    color: #023047;
    margin-bottom: 30px;
    text-align: left;
    /* Alinea el texto a la izquierda */

}

.login-text-cuatro {
    font-size: 12px;
    color: #023047;
    opacity: 50%;
    margin-bottom: 5px;
}

.custom-button-candidato {
    background-color: #F5F5F5;
    border: 1px solid #9391FF;
    color: #927FDD;
    /* Color de texto */
    padding: 12px 117px;
    border-radius: 50px;
    /* Bordes redondeados */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

}

.custom-button-candidato:hover {
    background-color: #B4A1FF;
    color: #F5F5F5;
    /* Cambia el color al pasar el mouse */
}

.custom-button-empresa {
    background-color: #F5F5F5;
    border: 1px solid #9391FF;
    color: #927FDD;
    /* Color de texto */
    padding: 13px 121px;
    border-radius: 50px;
    /* Bordes redondeados */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;

}

.custom-button-empresa:hover {
    background-color: #B4A1FF;
    /* Cambia el color al pasar el mouse */
    color: #F5F5F5;
}

.mensaje {
    background-color: #B4A1FF;
    /* Cambia el color al pasar el mouse */
    color: #F5F5F5;
}


