<!DOCTYPE html>
<html>

<head>
    <title>Confirmación</title>
    <link rel="stylesheet" href="/public/css/confirmacioncandidato.css">
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<meta charset="UTF-8">

<body>
    <div class="container">
        <img src="/public/imagenes/LOGOWEBJOB.png" alt="Logo de WebJob">
        <h2>¡Felicidades!</h2>
        <p>Tu cuenta de Candidato se ha creado correctamente.</p>
        <p>Serás redirigido a la página de inicio de sesión en unos segundos...</p>
    </div>
    <script>
        setTimeout(function() {
        window.location.href = "/src/views/ingreso.html";
         }, 3000);
    </script>
</body>

</html>