<!DOCTYPE html>
<html>

<head>
  <title>Registro</title>
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta charset="UTF-8">
</head>

<body>
  <p></p>

  <div class="container">
    
    <img src="/public/imagenes/LOGOWEBJOB.png" alt="Logo">
    <h1 class="login-text-cinco">!Te Damos la Bienvenida¡</h1>
    <p class="login-text-seis">!Súper Nos Alegra Tenerte Aqui¡</p>
    <p class="login-text-siete">Crea una  cuenta para obtener todas las herramientas que necesitas</p>
      
    <a href="/src/views/registrocandidato.html" class="custom-button-candidato">
      Candidato
      <img src="/public/imagenes/user-circle.png" alt="" class="button-image">
    </a>
    <a href="/src/views/registroempresa.html" class="custom-button-empresa">
        Empresa 
        <img src="/public/imagenes/home-modern.png" alt="" class="button-image">
    </a>
    <a href="/src/views/ingreso.html" class="volver">
      <i class="fas fa-caret-left"></i>Volver</a>

    
    <p class="login-text-cuatro"> </p>
    
    <a href="#" class="apple-btn">
    <p class="login-text-ocho"> </p>
     
    </a>
    <a href="#" class="google-btn">
       
    </a>

  </div>
  <script src="script.js"></script>
</body>

</html>