<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/css/styles.css">
  <title>home</title>
</head>
    <header>
        <div class="conte">
            <nav>
            <img src="/public/imagenes/LOGOWEBJOB.png" alt="Logo">   
            <a href="#"class="Inicio">Inicio</a>
            <a href="#"class="Evaluaciones">Evaluaciones de Empresas</a>
            <a href="#"class="Salario">Buscar Salarios</a>
            <a href="login.html"class="Ingresar">Ingresar</a>
            <a href="login.html"class="Publicar">Empresas / Publicar empleos</a> 
            <a href="login.html"class="CV">Crea tu CV</a>
            </nav>
        </div>
    </header>    
        <body>
        <section class="home-section">
            <h3>No dejes pasar la oportunidad de encontrar el trabajo ideal. ¡Únete a nuestra comunidad de búsqueda de empleo!</h3>
            <form>
                <input type="text" name="search" placeholder="Buscar..." >
                <input type="submit" value="Buscar Empleos">
            </form>
        </section>
        <script src="script.js"></script>
       </body>

<script src="/script.js"></script>

</html>