<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/public/css/perfilcandidato.css">
    <title>Perfil candidato</title>
</head>
<header>
    <div class="navcandidato">
        <img src="/public/imagenes/LOGOWEBJOB.png" alt="Logo" 
    </div>
        <nav>
           
            <ul class="iconnav">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                         
               
                <li><i class="fas fa-bell"></i> Notificaciones</li>
                <li><i class="fas fa-envelope"></i> Mensajes</li>
                <li><i class="fas fa-comment"></i> Chat</li>
                <li><a href="/src/views/ingreso.html"><i class="fas fa-door-open"></i>Salir</a></li>
                <li>
                  
                    <div class="user-profile">
                        <img src="/public/imagenes/persona.png" alt="Imagen de perfil" id="profile-image">
                        <label for="profile-image">Yo</label>
                        <input type="file" id="profile-image" style="display: none;" accept="image/*">
                       
                    </div>
               
                </li>
               
            </ul>
        </nav>
        
</header>
<hr>  

<body>
    
    <div id="myContainer" class="containercandidato">
        <div class="linea-vertical2"></div>
        <div class="left-column">
            <h2 class="tituloaside">Gestionando mi perfil</h2>
        <ul class="icon-list">
            <li><a href="/src/views/perfilcandidatoofertas.html"><i class="fas fa-file-alt"></i> Ofertas</a></li>
            <li><i class="fas fa-user"></i> Hoja de Vida</li>
            <li><i class="fas fa-edit"></i> Sugerencias</li>
            <li><i class="fas fa-building"></i> Empresas</li>
            <li><i class="far fa-smile"></i> Citaciones</li>
        </ul>

        </div>
        <div class="linea-vertical"></div>

        <div class="right-column">
            <img src="/public/imagenes/persona.png" alt="Imagen de bienvenida">
        <h1 class="mensaje1">¡Te damos la bienvenida!</h1>
        <p class="nombre">Ana Garcia</p>
        <p class="mensaje2">¡Juntos lograremos tus objetivos
             profesionales!</p>
             <br>
             

        </div>
        <div class="linea-vertical3"></div>
    </div>
   
</body>

<script src="/script.js"></script>

</html>